<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Endereço</th>
      <th>CEP</th>
      <th>UF</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pessoa of pessoas">
      <td>{{ pessoa.id }}</td>
      <td>{{ pessoa.nome }}</td>
      <td>{{ pessoa.endereco }}</td>
      <td>{{ pessoa.cep }}</td>
      <td>{{ pessoa.uf }}</td>
      <td>
        <button *ngIf="pessoa.id !== undefined" class="btn btn-danger btn-sm" (click)="excluirPessoa(pessoa.id!)">Excluir</button>
        <button class="btn btn-warning btn-sm" [routerLink]="['/edicao', pessoa.id]">Editar</button>
        <button class="btn btn-danger btn-sm" (click)="excluirPessoa(pessoa.id)">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
